extends templates/main-template

block variables
  -
    pageTitle = 'Форма';
    pageName = 'form';

block vars
  - headerMainLogo = 'header-main__logo--small-height'

block main
  form.form-main(action='#' method='POST')
    div.form-main__wrapper
      div.form-main__container
        h1.title.form-main__title запись на стрижку
        a.form-main__button на главную
      div.form-main__user-name
        p.user-name.form-main__item
          input#surname.user-name__input(type='text' name='surname' placeholder='Фамилия')
          label.visually-hidden(for='surname')
            span.visually-hidden текст
        p.user-name.form-main__item
          input#name.user-name__input(type='text' name='name' placeholder='Имя')
          label.visually-hidden(for='name')
            span.visually-hidden текст
        p.user-name.form-main__item
          input#patronymic.user-name__input(type='text' name='patronymic' placeholder='Отчество')
          label.visually-hidden(for='patronymic')
            span.visually-hidden текст
      div.form-main__contacts
        p.contacts.form-main__item
          input#phone.contacts__input(type='tel' name='phone' placeholder='Контактный телефон')
          label.visually-hidden(for='phone')
            span.visually-hidden текст
        p.contacts.form-main__item
          input#email.contacts__input(type='email' name='email' placeholder='Контактный e-mail')
          label.visually-hidden(for='email')
            span.visually-hidden текст
      textarea.textarea.textarea--position.form-main__item(name='textarea' placeholder='Доп. информация для мастера')
    div.form-main__radio
      h2.form-main__heading выберите модель бороды:
      div.form-main__wrapper
        p.model.form-main__item
          input#radio1.visually-hidden(type='radio' name='radio')
          label.model__label(for='radio1')
            span адмирал
          svg(width='53' height='75' aria-label='Иконка - борода')
            use.model__icon(xlink:href='#icon-beard-1')
        p.model.form-main__item
          input#radio2.visually-hidden(type='radio' name='radio')
          label.model__label(for='radio2')
            span лесоруб
          svg(width='54' height='95' aria-label='Иконка - борода')
            use.model__icon(xlink:href='#icon-beard-2')
        p.model.form-main__item
          input#radio3.visually-hidden(type='radio' name='radio')
          label.model__label(for='radio3')
            span полярник
          svg(width='65' height='105' aria-label='Иконка - борода')
            use.model__icon(xlink:href='#icon-beard-3')
        p.model.form-main__item
          input#radio4.visually-hidden(type='radio' name='radio')
          label.model__label(for='radio4')
            span боярин
          svg(width='57' height='115' aria-label='Иконка - борода')
            use.model__icon(xlink:href='#icon-beard-4')
        p.model.form-main__item
          input#radio5.visually-hidden(type='radio' name='radio')
          label.model__label(for='radio5')
            span мудрец
          svg(width='54' height='115' aria-label='Иконка - борода')
            use.model__icon(xlink:href='#icon-beard-5')
    div.form-main__checkbox
      h2.form-main__heading дополнительные услуги:
      div.form-main__wrapper
        p.service.form-main__item
          input#checkbox1.visually-hidden(type='checkbox' name='checkbox1')
          label.service__label(for='checkbox1') Подкрасить бороду
        p.service.form-main__item
          input#checkbox2.visually-hidden(type='checkbox' name='checkbox2')
          label.service__label(for='checkbox2') Накрутить усы
        p.service.form-main__item
          input#checkbox3.visually-hidden(type='checkbox' name='checkbox3')
          label.service__label(for='checkbox3') Причесать бороду
        p.service.form-main__item
          input#checkbox4.visually-hidden(type='checkbox' name='checkbox4')
          label.service__label(for='checkbox4') Подровнять виски
        p.service.form-main__item
          input#checkbox5.visually-hidden(type='checkbox' name='checkbox5')
          label.service__label(for='checkbox5') Убрать седину
        p.service.form-main__item
          input#checkbox6.visually-hidden(type='checkbox' name='checkbox6')
          label.service__label(for='checkbox6') Отпролировать лысину
    button.form-main__submit(type='submit') отправить заявку
