extends templates/main-template

block variables
  - pageTitle = 'Главная'

block main
  section.intro
    h1.intro__title Стрижка у нас это выгодно!
    p.intro__info Мужская стрижка требует точного подхода. Обратимся к статистике:
    table.intro__table
      tr.intro__tr
        td.intro__price 1 500*
        td.intro__description рублей вложений
      tr.intro__tr
        td.intro__price 7 200
        td.intro__description секунд времени мастера
      tr.intro__tr
        td.intro__price 90 000
        td.intro__description постриженных волос
      tr.intro__tr
        td.intro__price 500 000*
        td.intro__description лайков и комплиментов
    p.intro__legend * - приведённые данные ложь

  section.slider-description
    h2.visually-hidden слайдер
    div.slider-description__items
      +slideDescription('быстро', 'Мы делаем свою работу быстро! Два часа пролетят незаметно и Вы — счастливый обладатель стильной стрижки-минутки')
      +slideDescription('круто', 'Мы делаем свою работу быстро! Два часа пролетят незаметно и Вы — счастливый обладатель стильной стрижки-минутки')
      +slideDescription('дорого', 'Мы делаем свою работу быстро! Два часа пролетят незаметно и Вы — счастливый обладатель стильной стрижки-минутки')
    ul.buttons.slider-description__buttons
      li.buttons__button
        input#buttons__btn1.buttons__input(type='radio')
        label.buttons__label(for='buttons__btn1')
      li.buttons__button
        input#buttons__btn2.buttons__input(type='radio')
        label.buttons__label(for='buttons__btn2')
      li.buttons__button
        input#buttons__btn3.buttons__input(type='radio')
        label.buttons__label(for='buttons__btn3')

  section.news
    h2.news__title новости и акции
    +newsItem('29', 'сент', 'Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.')
    +newsItem('19', 'сент', 'В нашей команде пополнение, Борис «Бритва» Стригунец, обладатель множества титулов и наград пополнил наши стройные ряды. Спешите записаться!')
    button.news__button показать все

  section.slider-reviews
    h2.slider-reviews__title отзывы о нас
    div.slider-reviews__items
      +slideReview('Трэвис Баркер', 'Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!', '#')
    ul.buttons.slider-description__buttons
      li.buttons__button
        input#buttons__btn4.buttons__input(type='radio')
        label.buttons__label(for='buttons__btn4')
      li.buttons__button
        input#buttons__btn5.buttons__input(type='radio')
        label.buttons__label(for='buttons__btn5')
      li.buttons__button
        input#buttons__btn6.buttons__input(type='radio')
        label.buttons__label(for='buttons__btn6')
