include ../mixins/mixins.pug

block variables
  -
    var pageTitle = 'pageTitle';
    var pageName = 'pageName';

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='preload' href='fonts/PT-Sans-Narrow.woff2' as='font')
    link(rel='preload' href='fonts/PT-Sans-Narrow-Bold.woff2' as='font')
    link(rel='stylesheet' href='css/style.min.css')
    title= pageTitle
  body
    include ../modules/header-main.pug

    div(style='display: none')
      include ../../../build/img/sprite.svg

    block main

    section.login-menu.login-menu--hidden
      h2.login-menu__title личный кабинет
      p.login-menu__hint Введите свой логин и пароль, чтобы войти
      form.login-menu__form(action='#' method='POST')
        div.login-menu__container-text
          input#login.login-menu__input(type='text' name='login' placeholder='Логин')
          label.visually-hidden(for='login')
          input#password.login-menu__input(type='text' name='password' placeholder='Пароль')
          label.visually-hidden(for='password')
        div.login-menu__container-checkbox
          input#checkbox-remember.login-menu__checkbox-input.visually-hidden(type='checkbox' name='checkbox-remember')
          label.login-menu__checkbox-label(for='checkbox-remember') Запомните меня
          a.login-menu__remember-link(href='#') Я забыл пароль!
        div.login-menu__container-buttons
          button.login-menu__submit(type='submit') войти
            span в личный кабинет
          button.login-menu__cancel(type='reset') закрыть
            span

    include ../modules/footer-main.pug
    include ../modules/scripts.pug
