footer.footer-main
  div.footer-main__address
    p.footer-main__title Барбершоп Бородинский
    p.footer-main__way г. Санкт-Петербург, ул. Большая Конюшенная 19/8
  p.footer-main__tel +7 (812) 555-66-66
  ul.socials.footer-main__socials
    li.socials__item.socials__item--vk
    li.socials__item.socials__item--fb
    li.socials__item.socials__item--in
  div.produced
    p.produced__title Разработано:
    p.produced__organization html academy
