header.header-main
  div.header-main__logo
    svg(width='230' height='30')
      use.header-main__logo-img(xlink:href='#icon-logo-mobile')
  nav.nav-main.header-main__nav
    button.nav-main__open-menu
      span
    ul.nav-main__items
      +mainNav('#', 'главная')
      +mainNav('#', 'наши работы')
      +mainNav('#', 'записаться')
      +mainNav('#', 'html academy')
      li.nav-main__item
        a.nav-main__link(href='#')
          button.nav-main__entrance Вход
