header.header-main
  div.header-main__logo
  nav.nav-main.header-main__nav
    ul.nav-main__items
      +mainNav('#', 'главная')
      +mainNav('#', 'наши работы')
      +mainNav('#', 'записаться')
      +mainNav('#', 'html academy')
    button.header-main__entrance вход
