header.header-main
  div.logo
  nav.nav-main
    ul.nav-main__items
      +mainNav('#', 'главная')
      +mainNav('#', 'наши работы')
      +mainNav('#', 'записаться')
      +mainNav('#', 'html academy')
    button.entrance вход
