html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  min-width: $mobile-width;
  margin: 0 auto;
  overflow-x: hidden; // for ie bugs
  background-color: $grey-color-hsl535353;
}

.active-modal-menu {
  display: block;
  width: 100%;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: $grey-color-hsl252525;
    opacity: 0.8;
    z-index: 14;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ie-flex-bugs-container {
  display: flex;
  flex-direction: column;
}
