$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$mobile-padding: 20px;
$tablet-padding: 65px;
$desktop-padding: 120px;

$black-color: #000000;
$white-color: #ffffff;
$grey-color-hsl363636: #242424;
$grey-color-hsl414141: #292929;
$grey-color-hsl646464: #404040;
$grey-color-hsl727272: #484848;
$grey-color-hsl626262: #3e3e3e;
$grey-color-hsl787878: #4e4e4e;
$grey-color-hsl535353: #353535;
$grey-color-hsl165165165: #a5a5a5;
$grey-color-hsl125125125: #7d7d7d;
$grey-color-hsl248245245: #f8f5f2;
$grey-color-hsl229221213: #e5ddd5;
$grey-color-hsl230222215: #e6ded7;
$brown-color-hsl3010180: #826550;
$brown-color-hs13611091: #886e5b;
$brown-color-hs1138463: #71543f;
$brown-color-hs825841: #503929;
$brown-color-hs1067756: #6a4d38;

$font-size-very-big: 1px;
$font-size-any-biggest: 1px;
$font-size-biggest: 1px;
$font-size-any-big: 1px;
$font-size-big: 40px;
$font-size-medium-big: 1px;
$font-size-medium: 30px;
$font-size-medium-small-2: 24px;
$font-size-medium-small: 20px;
$font-size-small: 18px;
$font-size-any-small: 16px;
$font-size-smallest: 14px;
$font-size-any-smallest: 13px;

$font-weight-regular: 400;
$font-weight-bold: 700;

$line-height-any-biggest: 1px;
$line-height-biggest: 1px;
$line-height-any-big: 1px;
$line-height-big: 32px;
$line-height-medium-big: 30px;
$line-height-medium: 27px;
$line-height-medium-small: 24px;
$line-height-any-small: 18px;
$line-height-smallest: 1px;
