.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  margin: 0 auto;
  padding: 0;
}

.buttons__button {
  display: flex;
  flex-direction: row;
  transform: rotate(45deg);
}

.buttons__input:checked + .buttons__label {
  background-color: $white-color;
}

.buttons__label {
  display: flex;
  flex-direction: row;
  width: 10px;
  height: 10px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid $grey-color-hsl165165165;
}
