.card {
  width: 280px;
  margin: 0 auto;
  outline: 1px solid $grey-color-hsl230222215;
}

.card__img {
  display: block;
  width: 280px;
  height: 177px;
  margin: 0 auto;
}

.card__img--our-work {
  width: 280px;
  height: 480px;
  margin: 0 auto;
}

.card__feature-container {
  position: absolute;
  left: 0;
  top: 400px;
  display: flex;
  flex-direction: row;
  width: 169px;
  height: 50px;
  background-color: $brown-color-hsl3010180;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -7px;
    width: 0;
    height: 0;
    border-top: 25px solid $brown-color-hsl3010180;
    border-right: 7px solid transparent;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -7px;
    width: 0;
    height: 0;
    border-bottom: 25px solid $brown-color-hsl3010180;
    border-right: 7px solid transparent;
  }
}

.card__feature {
  margin: auto;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium;
  font-weight: $font-weight-bold;
  color: $white-color;
  text-transform: uppercase;
}

.card__user-item {
  width: 280px;
  margin: 0 auto;
  padding: 0 24px;
}

.card__user-name {
  margin: 0;
  margin-top: 18px;
  font-size: $font-size-medium-small-2;
  line-height: $line-height-medium;
  font-weight: $font-weight-bold;
  color: $black-color;
}

.card__info {
  margin: 0;
  margin-top: 15px;
  font-size: $font-size-small;
  line-height: $line-height-medium;
  color: $black-color;
}

.card__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.card__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  padding-bottom: 28px;

  &:nth-child(2n) {
    padding-left: 12px;
  }

  svg {
    fill: $brown-color-hsl3010180;
  }
}

.card__description {
  padding-left: 15px;
  font-size: $font-size-any-small;
  line-height: $line-height-medium;
  color: $black-color;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .card {
    display: flex;
    flex-direction: row;
    width: 640px;
    height: 295px;
  }

  .card__img {
    width: 270px;
    height: 295px;
    margin: 0;

    &--our-work {
      width: 270px;
      height: 480px;
      margin: 0;
    }
  }

  .card__user-item {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 5px;
    margin-top: 25px;
  }

  .card__items {
    margin-top: auto;
    padding-bottom: 19px;
  }

  .card__item {
    padding-bottom: 22px;

    &:nth-child(2n) {
      padding-left: 0;
    }
  }

  .card__feature-container {
    top: 34px;
    left: -3px;
  }

  .card__info {
    margin: 26px 0 0;
    padding-right: 25px;
  }

  .card__user-name {
    margin: 16px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .card {
    flex-direction: column;
    width: 295px;
    height: auto;
    min-height: 545px;
    margin: 0;
  }

  .card__img {
    width: 295px;
    height: 295px;
  }

  .card__img--our-work {
    width: 480px;
    height: 480px;
  }

  .card__user-name--our-work,
  .card__info--our-work {
    padding-right: 90px;
  }

  .card__user-name {
    margin-top: 5px;
  }

  .card__user-name--our-work {
    margin-top: 105px;
  }

  .card__info--our-work {
    padding-right: 25px;
  }

  .card__feature-container {
    top: 26px;
    right: 0;
    left: auto;
    width: 170px;
    transform: rotate(180deg);
  }

  .card__feature {
    transform: rotate(180deg);
  }

  .card__user-item {
    width: 100%;
    height: 100%;
    min-height: 225px;
    padding-right: 20px;
    padding-left: 36px;
  }

  .card__info {
    padding-right: 0;
  }

  .card__items {
    justify-content: flex-start;
    width: 100%;
    padding: 0;
  }

  .card__item {
    width: auto;
    padding-right: 35px;
    padding-bottom: 32px;

    &:last-child {
      padding-right: 0;
    }
  }
}
