.footer-main {
  background-color: $grey-color-hsl414141;
}

.footer-main__title {
  margin: 0;
  padding-top: 69px;
  text-align: center;
  font-size: $font-size-small;
  line-height: $line-height-any-small;
  font-weight: $font-weight-bold;
  color: $white-color;
}

.footer-main__way {
  margin: 0;
  padding: 14px 50px 18px;
  text-align: center;
  font-size: $font-size-small;
  line-height: $line-height-medium;
  color: $white-color;
}

.footer-main__tel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 87%;
  padding: 11px;
  border: 1px solid $grey-color-hsl626262;
  font-size: $font-size-small;
  line-height: $line-height-medium;
  font-weight: $font-weight-bold;
  color: $white-color;

  & span {
    display: none;
  }
}

.footer-main__socials {
  margin-top: 25px;
}

@media (min-width: $tablet-width) {
  .footer-main__wrapper {
    @include wrapper();

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-main__address {
    width: 320px;
  }

  .footer-main__title {
    padding-top: 54px;
    text-align: left;
    text-transform: uppercase;
  }

  .footer-main__way {
    padding: 0;
    padding-top: 14px;
    text-align: left;
  }

  .footer-main__tel {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: $font-weight-regular;

    & span {
      display: inline;
    }
  }

  .footer-main__socials {
    order: 3;
    margin-top: 22px;
    padding-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .footer-main {
    padding-bottom: 35px;
  }

  .footer-main__wrapper {
    align-items: center;
    justify-content: space-between;
    width: 960px;
    padding: 0;
  }

  .footer-main__address {
    width: 33.33%;
  }

  .footer-main__produced {
    width: 33.33%;
    padding-left: 160px;
  }

  .footer-main__title {
    padding-top: 26px;
  }

  .footer-main__socials {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-top: 19px;
    order: 0;
  }
}
