.form-main {
  position: relative;
  padding-bottom: 42px;
  background-color: $grey-color-hsl248245245;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-top: 30px solid $grey-color-hsl248245245;
    border-left: 48vw solid transparent;
    border-right: 47vw solid transparent;
    transform: translateX(-50%);
  }
}

.form-main__wrapper {
  @include wrapper();
}

.form-main__user-name {
  margin-top: 30px;
}

.form-main__contacts {
  margin-top: 27px;
}

.form-main__radio .form-main__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 33px;
}

.form-main__radio .form-main__item {
  margin: 0;
  margin-bottom: 15px;
}

.form-main__radio .form-main__heading {
  margin-top: 36px;
}

.form-main__button {
  display: none;
  width: 160px;
  min-height: 50px;
  text-align: center;
  padding: 12px 10px;
  margin: 0 auto;
  word-wrap: break-word;
  font-size: $font-size-small;
  line-height: $line-height-medium-small;
  font-weight: $font-weight-bold;
  border: 1px solid $grey-color-hsl229221213;
  color: $black-color;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    transition: 0.2s;
    border-color: $brown-color-hs1213201189;
  }

  &:active {
    transition: 0.2s;
    color: $brown-color-hs1149140132;
    background-color: $brown-color-hs1213201189;
  }
}

.form-main__title {
  padding-top: 30px;
  text-align: center;
}

.form-main__heading {
  width: 100%;
  text-align: center;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium;
  color: $black-color;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
}

.form-main__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-main__checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-main__checkbox .form-main__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-main__checkbox .form-main__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  margin-top: 19px;
}

.form-main__checkbox .form-main__heading {
  margin-top: 28px;
}

.form-main__submit {
  display: block;
  width: 87%;
  min-height: 50px;
  padding: 12px 10px;
  margin: 44px auto 0;
  text-align: center;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: $font-size-small;
  line-height: $line-height-medium-small;
  font-weight: $font-weight-bold;
  color: $white-color;
  text-transform: uppercase;
  word-wrap: break-word;
  background-color: $brown-color-hsl3010180;
  border: none;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: $brown-color-hs1067756;
    transition: 0.2s;
  }

  &:active {
    color: $brown-color-hs1151131116;
    transition: 0.2s;
  }

  &:disabled {
    background-color: $grey-color-hsl174174174;
    cursor: not-allowed;
  }
}

@media (min-width: $tablet-width) {
  .form-main {
    padding-bottom: 76px;

    &::after {
      content: "";
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -40px;
      display: block;
      width: 100%;
      height: 50px;
      background-image: url("../img/triangle.png");
      background-repeat: no-repeat;
      background-size: 100% 80%;
    }
  }

  .form-main__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 51px;
  }

  .form-main__title {
    padding-top: 0;
  }

  .form-main__button {
    display: block;
    margin-right: 0;
  }

  .form-main__user-name {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 68px;
  }

  .form-main__user-name .form-main__item {
    &:nth-child(1) {
      order: 2;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 3;
    }
  }

  .form-main__contacts {
    margin-top: 30px;
  }

  .form-main__contacts .form-main__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form-main__radio,
  .form-main__checkbox {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 82.5%;
      height: 1px;
      background-color: $grey-color-hsl229221213;
    }
  }

  .form-main__radio {
    &::before {
      content: "";
      top: 14px;
    }
  }

  .form-main__checkbox {
    &::before {
      content: "";
      top: 57px;
    }
  }

  .form-main__radio .form-main__wrapper {
    justify-content: space-between;
    margin-top: 43px;
  }

  .form-main__radio svg {
    margin-top: 21px;
  }

  .form-main__checkbox .form-main__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 69px;
  }

  .form-main__checkbox .form-main__heading {
    margin-top: 40px;
  }

  .form-main__checkbox .form-main__item {
    margin-top: 0;
    margin-bottom: 46px;
  }

  .form-main__heading {
    position: relative;
    width: 370px;
    margin: 0 auto;
    z-index: 10;
    font-size: $font-size-medium;
    line-height: $line-height-medium-big;
    background-color: $grey-color-hsl248245245;
  }

  .form-main__radio .form-main__heading {
    margin-top: 55px;
  }

  .form-main__submit {
    width: 83%;
    min-height: 70px;
    margin-top: 12px;
    font-size: $font-size-medium-small-2;
    line-height: $line-height-medium-big;
  }
}

@media (min-width: $desktop-width) {
  .form-main {
    padding-bottom: 87px;

    &::before {
      content: "";
      top: -60px;
      height: 75px;
      background-image: url("../img/triangle-desktop.png");
    }
  }

  .form-main__wrapper {
    width: 960px;
    padding: 0;
    margin: 0 auto;
  }

  .form-main__user-name {
    justify-content: space-between;
  }

  .form-main__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form-main__radio .form-main__wrapper,
  .form-main__checkbox .form-main__wrapper {
    width: 960px;
    padding: 0;
    margin: 0 auto;
  }

  .form-main__radio .form-main__heading {
    margin-top: 72px;
  }

  .form-main__radio .form-main__wrapper {
    margin-top: 48px;
  }

  .form-main__checkbox .form-main__wrapper {
    margin-top: 71px;
  }

  .form-main__submit {
    width: 960px;
    margin-top: 33px;
  }
}
