.intro__ad {
  background-color: $white-color;
}

.intro__title {
  padding: 26px 50px 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: $font-size-medium;
  line-height: $line-height-big;
}

.intro__info {
  padding: 9px 30px 24px;
  margin: 0;
  text-align: center;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium-big;
}

.intro__table {
  width: 100%;
  border-collapse: collapse;
  color: $white-color;

  & span {
    display: block;
  }
}

.intro__tr {
  height: 79px;

  &:nth-child(1),
  &:nth-child(4) {
    background-color: $grey-color-hsl646464;
  }

  &:nth-child(2) {
    background-color: $grey-color-hsl787878;
  }

  &:nth-child(3) {
    background-color: $grey-color-hsl535353;
  }
}

.intro__price {
  width: 55%;
  padding-left: 20px;
  font-size: $font-size-big;
  line-height: $line-height-any-big;
  font-weight: $font-weight-bold;
}

.intro__description {
  width: 45%;
  padding: 0 22px 0 11px;
  text-align: right;
  font-size: $font-size-small;
  line-height: $line-height-any-small;
}

.intro__legend-top {
  display: none;
}

.intro__legend-bottom {
  margin: 0;
  padding-top: 14px;
  text-align: center;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium-big;
  color: $grey-color-hsl125125125;
  background-color: $grey-color-hsl363636;
}

@media (min-width: $tablet-width) {
  .intro__wrapper {
    @include wrapper();

    &:first-child {
      display: flex;
      flex-direction: column;
      margin-top: -185px;
    }

    &:last-of-type {
      background-color: $grey-color-hsl535353;
    }
  }

  .intro__ad {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 185px;
    padding: 31px 0 0 40px;
    z-index: 5;

    &::after {
      content: "";
      position: absolute;
      top: 43px;
      left: -22px;
      display: block;
      width: 0;
      height: 0;
      border-top: 22px solid $white-color;
      border-left: 22px solid transparent;
    }
  }

  .intro__legend-top {
    display: block;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: $font-size-medium-small;
    line-height: $line-height-medium;
    color: $grey-color-hsl125125125;
  }

  .intro__legend-bottom {
    display: none;
  }

  .intro__title,
  .intro__info {
    width: 50%;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0;
    text-align: left;
  }

  .intro__title {
    padding-top: 0;
    font-size: $font-size-big;
    line-height: $line-height-any-big;
    text-transform: none;
  }

  .intro__info {
    padding: 5px 55px 0 12px;
    font-size: $font-size-medium-small;
    line-height: $line-height-medium;
  }

  .intro__table {
    display: flex;
    flex-direction: row;
  }

  .intro__table tbody {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .intro__table td {
    display: block;
    padding: 0;
    width: auto;
  }

  .intro__description {
    margin-top: 11px;
    text-align: left;
    font-size: $font-size-medium-small;

    & span {
      display: inline;
    }
  }

  .intro__tr {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 160px;
    height: auto;
    padding-left: 30px;
  }

  .intro__price {
    margin-top: 25px;
    font-size: $font-size-very-big;
    line-height: $line-height-any-biggest;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    display: flex;
    flex-direction: row;
    width: 960px;
    margin: -158px auto 0;
  }

  .intro__table {
    display: flex;
    flex-direction: row;
  }

  .intro__tr {
    height: auto;
    min-height: 158px;
  }

  .intro__wrapper {
    &:first-child {
      display: flex;
      flex-direction: row;
      width: 33.33%;
      padding: 0;
      margin-top: 0;
    }

    &:last-of-type {
      display: flex;
      flex-direction: row;
      width: 66.66%;
      padding: 0;
      background-color: transparent;
    }
  }

  .intro__ad {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 27px;

    &::after {
      content: "";
      top: 33px;
    }
  }

  .intro__title {
    width: auto;
  }

  .intro__info {
    width: auto;
    padding-top: 0;
    padding-left: 2px;
    margin-top: 40px;
    margin-bottom: auto;
  }

  .intro__legend-top {
    margin: 0 0 31px;
    text-align: left;
    padding-right: 30px;
  }

  .intro__price {
    margin-top: 21px;
  }
}
