.intro__title {
  padding: 0 70px;
  text-align: center;
  font-size: $font-size-medium;
  line-height: $line-height-big;
}

.intro__info {
  padding: 0 30px;
  text-align: center;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium-big;
}

.intro__table {
  width: 100%;
  border-collapse: collapse;
  color: $white-color;

  & span {
    display: block;
  }
}

.intro__tr {
  height: 80px;

  &:nth-child(1),
  &:nth-child(4) {
    background-color: $grey-color-hsl646464;
  }

  &:nth-child(2) {
    background-color: $grey-color-hsl787878;
  }

  &:nth-child(3) {
    background-color: $grey-color-hsl535353;
  }
}

.intro__price {
  width: 50%;
  padding-left: 23px;
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: $font-weight-bold;
}

.intro__description {
  width: 50%;
  padding: 0 25px 0 24px;
  text-align: right;
  font-size: $font-size-small;
  line-height: $line-height-medium;
}

.intro__legend-top {
  display: none;
}

.intro__legend-bottom {
  margin: 0;
  text-align: center;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium-big;
  color: $grey-color-hsl125125125;
  background-color: $grey-color-hsl363636;
}

@media (min-width: $tablet-width) {
  .intro__wrapper {
    @include wrapper();

    &:first-child {
      margin-top: -185px;
    }

    &:last-of-type {
      background-color: $grey-color-hsl535353;
    }
  }

  .intro__ad {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 185px;
    padding: 35px 0 0 40px;
    background-color: $white-color;
    z-index: 5;
  }

  .intro__legend-top {
    display: block;
    text-align: center;
    font-size: $font-size-medium-small;
    line-height: $line-height-medium-big;
    color: $grey-color-hsl125125125;
  }

  .intro__legend-bottom {
    display: none;
  }

  .intro__title,
  .intro__info {
    width: 50%;
    margin: 0;
    padding-left: 0;
    text-align: left;
  }

  .intro__table tbody {
    display: flex;
    flex-wrap: wrap;
  }

  .intro__table td {
    display: block;
    padding: 0;
  }

  .intro__description {
    text-align: left;

    & span {
      display: inline;
    }
  }

  .intro__tr {
    width: 50%;
    height: 160px;
    padding-left: 35px;
  }
}
