.intro__wrapper {
  @include wrapper();
}

.intro__title {
  padding: 0 70px;
  text-align: center;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
}

.intro__info {
  padding: 0 30px;
  text-align: center;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium-small;
}

.intro__table {
  width: 100%;
  border-collapse: collapse;
  color: $white-color;

  & span {
    display: block;
  }
}

.intro__tr {
  &:nth-child(1) {
    background-color: $grey-color-hsl646464;
  }

  &:nth-child(2) {
    background-color: $grey-color-hsl787878;
  }

  &:nth-child(3) {
    background-color: $grey-color-hsl535353;
  }

  &:nth-child(4) {
    background-color: $grey-color-hsl646464;
  }
}

.intro__price {
  width: 50%;
  padding: 25px 0 25px 24px;
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: $font-weight-bold;
}

.intro__description {
  width: 50%;
  padding: 25px 25px 25px 24px;
  text-align: right;
  font-size: $font-size-small;
  line-height: $line-height-any-small;
}

.intro__legend {
  margin: 0;
  text-align: center;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium-small;
  color: $grey-color-hsl125125125;
  background-color: $grey-color-hsl363636;
}
