.login-menu {
  position: fixed;
  top: -1000px;
  left: 0;
  width: 100%;
  min-height: 410px;
  z-index: 15;
  background-color: $grey-color-hsl248245245;
  box-shadow: 0 15px 70px 0 $black-color;
}

.login-menu--active {
  animation-name: openLoginMenu;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-play-state: paused;
}

.login-menu--hidden {
  animation-name: closeLoginMenu;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-play-state: running;
}

.login-menu--animation-play {
  animation-play-state: running;
}

.login-menu__title {
  margin-top: 33px;
  margin-bottom: 0;
  text-align: center;
  font-size: $font-size-medium;
  line-height: $line-height-medium-big;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $black-color;
}

.login-menu__hint {
  margin-top: 13px;
  margin-bottom: 23px;
  text-align: center;
  font-size: $font-size-small;
  line-height: $line-height-medium;
  color: $black-color;
}

.login-menu__container-text {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    right: 12%;
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("../img/user-icon.png");
  }

  &::after {
    content: "";
    position: absolute;
    top: 74px;
    right: 12%;
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("../img/password-icon.png");
  }
}

.login-menu__input {
  display: block;
  width: 87%;
  padding: 10px 60px 10px 20px;
  margin: 4px auto 0;
  border: 1px solid $grey-color-hsl229221213;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: $font-size-small;
  line-height: $line-height-medium-big;
  color: $black-color;

  &::placeholder {
    font-size: $font-size-small;
    line-height: $line-height-medium-big;
    color: $black-color;
  }
}

.login-menu__input:hover {
  border-color: $brown-color-hs1213201189;
}

.login-menu__input:focus {
  border-color: $grey-color-hsl153153153;
}

.login-menu__container-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87%;
  margin: 27px auto 0;
}

.login-menu__checkbox-label {
  position: relative;
  padding-left: 47px;
  font-size: $font-size-small;
  line-height: $line-height-medium-big;
  color: $black-color;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $grey-color-hsl229221213;
    background-color: $white-color;
  }
}

.login-menu__checkbox-label:hover::before {
  border-color: $brown-color-hs1213201189;
}

.login-menu__checkbox-label:focus::before {
  border-color: $grey-color-hsl153153153;
}

.login-menu__checkbox-label:active::before {
  background-color: $brown-color-hs1213201189;
}

.login-menu__remember-link {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: $font-size-small;
  line-height: $line-height-medium-big;
  color: $black-color;
}

.login-menu__container-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87%;
  margin: 30px auto 0;
}

.login-menu__submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 46%;
  min-height: 50px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: $font-size-small;
  line-height: $line-height-medium-small;
  font-weight: $font-weight-bold;
  color: $white-color;
  text-transform: uppercase;
  background-color: $brown-color-hsl3010180;
  border: none;
  cursor: pointer;

  & span {
    display: none;
  }

  &:hover {
    background-color: $brown-color-hs1067756;
    transition: 0.2s;
  }

  &:active {
    color: $brown-color-hs1151131116;
    transition: 0.2s;
  }
}

.login-menu__cancel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 46%;
  min-height: 50px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: $font-size-small;
  line-height: $line-height-medium-small;
  font-weight: $font-weight-bold;
  z-index: 15;
  border: 1px solid $grey-color-hsl229221213;
  color: $black-color;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.login-menu__checkbox-input:checked + .login-menu__checkbox-label {
  &::before {
    content: "";
    background-image: url("../img/icon-ok.svg");
    background-repeat: no-repeat;
    background-size: 23px 17px;
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .login-menu {
    width: 460px;
    min-height: 500px;
  }

  .login-menu--active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-duration: 0.7s;
  }

  .login-menu--hidden {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-menu__cancel {
    position: absolute;
    top: 60px;
    right: -103px;
    width: 35px;
    height: 35px;
    padding: 0;
    font-size: 0;
    border: 0;
  }

  .login-menu__cancel span {
    position: relative;
    display: block;
    width: 35px;
    height: 2px;
    margin: 0 auto;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 35px;
      height: 2px;
      transform: rotate(45deg);
      background-color: $white-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 35px;
      height: 2px;
      transform: rotate(-45deg);
      background-color: $white-color;
    }
  }

  .login-menu__title {
    margin-top: 53px;
    font-size: $font-size-big;
    line-height: $line-height-any-big;
  }

  .login-menu__container-text {
    &::before {
      content: "";
      top: 26px;
      right: 96px;
    }

    &::after {
      content: "";
      top: 104px;
      right: 96px;
    }
  }

  .login-menu__input {
    width: 320px;
    padding: 20px 50px 20px 20px;
    font-size: $font-size-medium-small-2;
    line-height: $line-height-medium-big;

    &::placeholder {
      font-size: $font-size-medium-small-2;
      line-height: $line-height-medium-big;
      color: $black-color;
    }
  }

  .login-menu__container-checkbox {
    width: 320px;
  }

  .login-menu__submit {
    width: 320px;
    margin: 0 auto;

    & span {
      display: inline;
      padding-left: 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .login-menu__submit {
    margin-top: 5px;
  }
}
