.model {
  width: 33.33%;
}

.model__label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
  margin-left: 3px;
  font-size: $font-size-small;
  line-height: $line-height-medium-small;
  color: $black-color;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid $grey-color-hsl229221213;
    border-radius: 50%;
    background-color: $white-color;
  }
}

.model__label span {
  display: block;
  width: 100px;
  margin-top: 11px;
  text-align: center;
  word-wrap: break-word;
}

.model__icon {
  fill: $brown-color-hsl3010180;
}

.model__input:checked + .model__label {
  &::before {
    content: "";
    background-image: url("../img/sprite-png.png");
    background-position: -30px 7px;
  }
}

.model__input:active + .model__label {
  &::before {
    content: "";
    background-color: $brown-color-hs1213201189;
  }
}

.model__input:checked:active + .model__label {
  &::before {
    content: "";
    background-image: url("../img/sprite-png.png");
    background-position: -30px 7px;
    background-color: $brown-color-hs1213201189;
  }
}

.model__label:hover {
  &::before {
    content: "";
    border-color: $brown-color-hs1213201189;
  }
}

.model__input:focus + .model__label {
  &::before {
    content: "";
    border-color: $brown-color-hs1213201189;
  }
}

@media (min-width: $tablet-width) {
  .model {
    width: 17%;
  }

  .model__label {
    margin-left: 0;
    font-size: $font-size-medium-small-2;
  }

  .model__label span {
    margin-top: 29px;
  }
}
