.nav-main {
  position: relative;
  height: 50px;
  background-color: $brown-color-hsl3010180;
}

.nav-main__items {
  display: block;
  position: relative;
  min-height: 100%;
  width: 100%;
  margin: 0;
  margin-left: auto;
  padding: 0;
  z-index: 10;
  background-color: $brown-color-hs1067756;
  box-shadow: inset 15px 0 10px -10px $brown-color-hs825841;
}

.nav-main__item {
  align-items: center;
  list-style-type: none;
  border-bottom: 1px solid $brown-color-hs1138463;
  border-top: 1px solid $brown-color-hs13611091;

  &:first-child {
    border: none;
  }

  &:last-child {
    border: none;
    background-color: transparent;
  }
}

.nav-main__link {
  width: 100%;
  padding: 12px 0 12px 20px;
  font-size: 18px;
  font-weight: $font-weight-bold;
  line-height: 24px;
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-main__login {
  position: relative;
  padding: 13px 0 13px 45px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: $white-color;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/sprite-png.png");
    background-repeat: no-repeat;
  }
}

.nav-main__open-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 71px;
  height: 50px;
  margin-left: auto;
  z-index: 11;
  background-color: $brown-color-hs1067756;
  border: 0;
  cursor: pointer;

  &:hover {
    transition: background-color 0.2s;
    background-color: $brown-color-hsl986948;
  }
}

@media (max-width: $only-mobile-width) {
  .nav-main__items {
    display: flex;
    flex-direction: column;
    height: 50px;
    min-height: 50px;
    overflow: hidden;
    transition: 0.3s ease;
  }

  .nav-main__item {
    display: flex;
    flex-shrink: 0;
    background-color: $brown-color-hsl3010180;
    box-shadow: inset 15px 0 15px -9px $brown-color-hs825841;

    &:last-child {
      background-color: $brown-color-hs1067756;
    }
  }

  .nav-main__login {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      top: 14px;
    }
  }

  .nav-main__link:not([href]) {
    display: flex;
    justify-content: center;
    padding-right: 20px;
  }

  .nav-main__item--active {
    order: -1;
  }

  .nav-main__open-menu span {
    position: relative;
    display: block;
    width: 36px;
    height: 2px;
    margin: 0 auto;
    background-color: $white-color;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      display: block;
      width: 36px;
      height: 2px;
      background-color: $white-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      display: block;
      width: 36px;
      height: 2px;
      background-color: $white-color;
    }
  }

  .nav-main.nav-main--active .nav-main__open-menu {
    position: static;
    width: 87px;
  }

  .nav-main.nav-main--active .nav-main__items {
    display: flex;
    flex-direction: column;
    min-height: 568px;
    width: 100%;
    transition: 0.3s ease;
    overflow: hidden;
  }

  .nav-main.nav-main--active .nav-main__link:not([href]) {
    justify-content: flex-start;
  }

  .nav-main.nav-main--active .nav-main__item--active {
    order: 0;
  }

  // Анимация закрытия кнопки
  .nav-main.nav-main--hidden .nav-main__open-menu span {
    @include animationModalMenu();

    animation-name: closeModalMenu-middleLine;

    &::before {
      content: "";

      @include animationModalMenu();

      animation-name: closeModalMenu-topLine;
    }

    &::after {
      content: "";

      @include animationModalMenu();

      animation-name: closeModalMenu-bottomLine;
    }
  }

  // Анимация открытия кнопки
  .nav-main.nav-main--active .nav-main__open-menu span {
    @include animationModalMenu();

    animation-name: openModalMenu-middleLine;

    &::before {
      content: "";

      @include animationModalMenu();

      animation-name: openModalMenu-topLine;
    }

    &::after {
      content: "";

      @include animationModalMenu();

      animation-name: openModalMenu-bottomLine;
    }
  }

  // Запуск анимации по клику
  .nav-main.nav-main--active.animation-play .nav-main__open-menu span {
    animation-play-state: running;

    &::before {
      content: "";
      animation-play-state: running;
    }

    &::after {
      content: "";
      animation-play-state: running;
    }
  }

  // Запуск анимации по клику
  .nav-main.nav-main--hidden.animation-play .nav-main__open-menu span {
    animation-play-state: running;

    &::before {
      content: "";
      animation-play-state: running;
    }

    &::after {
      content: "";
      animation-play-state: running;
    }
  }

  .nav-main.no-js {
    height: auto;
  }

  .nav-main.no-js .nav-main__open-menu {
    display: none;
  }

  .nav-main__open-menu:active span {
    transition: opacity 0.2s;
    opacity: 0.4;
  }

  .nav-main.nav-main--active .nav-main__link:hover,
  .nav-main__login:hover {
    transition: 0.2s;
    background-color: $brown-color-hs11179070;
    box-shadow: inset 15px 0 15px -9px $brown-color-hs825841;
  }

  .nav-main.nav-main--active .nav-main__link:active {
    transition: 0.2s;
    color: $brown-color-hs1151131116;
    background-color: $brown-color-hs1067756;
    box-shadow: inset 15px 0 15px -9px $brown-color-hs825841;
  }

  .nav-main.nav-main--active .nav-main__link:not([href]):hover {
    background-color: transparent;
    box-shadow: none;
  }

  .nav-main.nav-main--active .nav-main__link:not([href]):active {
    color: $white-color;
  }

  .nav-main.nav-main--active .nav-main__login:active {
    color: $brown-color-hs1151131116;
    box-shadow: inset 15px 0 15px -9px $brown-color-hs825841;
  }
}

@media (min-width: $tablet-width) {
  .nav-main {
    order: -1;
    height: 72px;
    background-color: $black-color;
  }

  .nav-main__open-menu {
    display: none;
  }

  .nav-main__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: auto;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .nav-main__item {
    display: flex;
    height: 100%;
    box-shadow: none;
    border-bottom: none;
    background-color: transparent;

    &:last-child {
      width: 23px;
      margin-right: 25px;
    }
  }

  .nav-main__link {
    padding: 24px 0;
    border-bottom: 3px solid transparent;
  }

  .nav-main__login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    padding: 0;
    font-size: 0;

    &::after {
      content: "";
      top: 27px;
      left: -2px;
      background-position: 0 -2px;
    }
  }

  .nav-main__link:hover {
    transition: 0.2s;
    color: $brown-color-hsl3010180;
  }

  .nav-main__link:active {
    transition: 0.2s;
    color: $grey-color-hsl777777;
  }

  .nav-main__login:hover {
    &::after {
      content: "";
      background-position: 0 -23px;
    }
  }

  .nav-main__login:active {
    &::after {
      content: "";
      background-position: 0 -2px;
    }
  }

  .nav-main__link:not([href]) {
    border-bottom-color: $brown-color-hsl3010180;
  }

  .nav-main__link:not([href]):hover {
    color: $white-color;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .nav-main__item {
    &:last-child {
      width: auto;
      margin-right: 4px;
      margin-left: 77px;
    }
  }

  .nav-main__link {
    padding: 24px 30px;
  }

  .nav-main__login {
    min-width: 130px;
    font-size: $font-size-small;
    line-height: $line-height-medium-small;
    font-weight: $font-weight-bold;
    color: $white-color;
    text-transform: uppercase;
    text-decoration: none;

    &::after {
      content: "";
      top: 25px;
      left: 25px;
      background-position: 0 -2px;
    }
  }

  .nav-main__login span {
    margin-left: 37px;
  }

  .nav-main__link:hover,
  .nav-main__login:hover {
    color: $black-color;
    background-color: $white-color;
    transition: 0.2s;
  }

  .nav-main__link:active {
    transition: 0.2s;
    color: $grey-color-hsl178178178;
  }

  .nav-main__login:active {
    content: "";
    color: $grey-color-hsl178178178;
  }

  .nav-main__login:hover {
    &::after {
      content: "";
      background-position: 0 -45px;
    }
  }
}
