.news {
  height: auto;
  padding-bottom: 27px;
  background-color: $grey-color-hsl248245245;
  border-bottom: 1px solid $grey-color-hsl229221213;
}

.news__wrapper {
  height: auto;
}

.news__title {
  padding-top: 65px;
  text-align: center;
}

.news__review {
  padding: 9px 15px 7px 90px;
  margin: 0;
  font-size: $font-size-small;
  line-height: $line-height-medium;
}

.news__container {
  position: relative;
  margin-top: -1px;
  width: 1px;
  height: 1px;
  min-height: 1px;
  border: 0;
  padding: 0;
  visibility: hidden;
  cursor: pointer;
  transition: min-height 0.3s ease;
  overflow: hidden;
}

.news__container--active {
  width: auto;
  height: auto;
  min-height: 80px;
  margin-top: 19px;
  visibility: visible;
  transition: all 0.3s ease;
}

.news__container:hover .news__data-container {
  background-color: $brown-color-hsl3010180;

  &::after {
    content: "";
    border-top-color: $brown-color-hsl3010180;
  }
}

.news__container:hover .news__review {
  color: $brown-color-hsl3010180;
  text-decoration: underline;
}

.news__container:active .news__data-container {
  background-color: $brown-color-hs1067756;

  &::after {
    content: "";
    border-top-color: $brown-color-hs1067756;
  }
}

.news__review:active {
  color: $brown-color-hs1067756;
  text-decoration: underline;
}

.news__container:active .news__data,
.news__container:active .news__month {
  color: $brown-color-hs1151131116;
}

.news__data-container {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: $black-color;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid $black-color;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: translateX(-50%);
  }
}

.news__data {
  margin: 0;
  padding-top: 3px;
  text-align: center;
  font-size: $font-size-medium;
  line-height: $line-height-medium-big;
  font-weight: $font-weight-bold;
  color: $white-color;
}

.news__month {
  margin: 0;
  text-align: center;
  font-size: $font-size-any-small;
  line-height: $line-height-any-small;
  color: $white-color;
}

.news__button {
  display: block;
  width: 87%;
  min-height: 50px;
  margin: 45px auto 0;
  text-align: center;
  padding: 12px 10px;
  font-size: $font-size-small;
  line-height: $line-height-medium-small;
  font-weight: $font-weight-bold;
  border: 1px solid $grey-color-hsl229221213;
  color: $black-color;
  background-color: transparent;
  word-wrap: break-word;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    transition: 0.2s;
    border-color: $brown-color-hs1213201189;
  }

  &:active {
    transition: 0.2s;
    color: $brown-color-hs1149140132;
    background-color: $brown-color-hs1213201189;
  }
}

@media (min-width: $tablet-width) {
  .news {
    padding-top: 80px;
    padding-bottom: 36px;
  }

  .news__wrapper {
    @include wrapper();

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .news__button {
    width: 160px;
    margin: 0;
    order: 2;
  }

  .news__container {
    padding-right: 30px;
    width: 50%;
    order: 3;
  }

  .news__container--active {
    margin-top: 47px;
  }

  .news__data-container {
    top: 12px;
    left: 0;
  }

  .news__title {
    width: 50%;
    padding-top: 3px;
    order: 1;
    text-align: left;
  }

  .news__review {
    margin: 0;
    padding: 0;
    padding-left: 70px;
  }
}

@media (min-width: $desktop-width) {
  .news {
    padding: 116px 0 42px;
  }

  .news__wrapper {
    justify-content: flex-start;
    width: 960px;
    padding: 0;
  }

  .news__container {
    width: 33.33%;

    &:nth-child(4) {
      width: 33.33%;
      height: auto;
      min-height: 80px;
      margin-top: 47px;
      visibility: visible;
      transition: all 0.3s ease;
    }
  }

  .news__data-container {
    top: 10px;
  }

  .news__title {
    width: calc(100% - 160px);
    padding-left: 70px;
  }

  .news__review {
    margin: 0;
  }
}
