.our-work {
  position: relative;
  padding: 30px 0 15px;
  background-color: $grey-color-hsl248245245;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-top: 30px solid $grey-color-hsl248245245;
    border-left: 48vw solid transparent;
    border-right: 47vw solid transparent;
    transform: translateX(-50%);
    z-index: 9;
  }
}

.our-work__button {
  display: none;
  width: 160px;
  min-height: 50px;
  margin: 0 auto;
  font-size: $font-size-small;
  line-height: $line-height-medium-small;
  font-weight: $font-weight-bold;
  border: 1px solid $grey-color-hsl229221213;
  color: $black-color;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
}

.our-work__card {
  margin-bottom: 24px;
}

.our-work__card--work-month {
  position: relative;
  margin-bottom: 22px;

  & .card__item {
    padding-bottom: 15px;
  }
}

.our-work__title {
  margin-bottom: 31px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .our-work {
    padding: 30px 0 21px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -33px;
      display: block;
      width: 100%;
      height: 42px;
      background-image: url("../img/triangle.png");
      background-repeat: no-repeat;
      background-size: 100% 80%;
    }

    &::after {
      content: "";
      bottom: -40px;
      border-top: 40px solid $grey-color-hsl248245245;
      border-left: 49vw solid transparent;
      border-right: 48vw solid transparent;
    }
  }

  .our-work__container {
    @include wrapper();

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 40px;
  }

  .our-work__title {
    margin-bottom: 0;
  }

  .our-work__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

  .our-work__card {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .our-work__card--work-month {
    height: 480px;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .our-work {
    padding-bottom: 7px;

    &::after {
      content: "";
      display: none;
    }
  }

  .our-work__container {
    width: 960px;
    margin: 21px auto 80px;
    padding: 0;
  }

  .our-work__card {
    margin-bottom: 0;
  }

  .our-work__card--work-month {
    flex-direction: row;
    width: 100%;
    min-height: auto;
    padding-right: 80px;
    padding-bottom: 36px;
    margin-bottom: 39px;
  }

  .our-work__card--work-month .card__user-item {
    padding-right: 25px;
    padding-left: 40px;
  }

  .our-work__title {
    text-align: left;
  }
}
