.price-list {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 70px;
  background-color: $grey-color-hsl535353;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-top: 30px solid $grey-color-hsl535353;
    border-left: 48vw solid transparent;
    border-right: 47vw solid transparent;
    transform: translateX(-50%);
    z-index: 9;
  }
}

.price-list__numbering {
  display: none;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium;
  color: $grey-color-hsl114114114;
}

.price-list__title {
  margin: 0;
  text-align: center;
  font-size: $font-size-medium;
  line-height: $line-height-medium-big;
  font-weight: $font-weight-bold;
  color: $white-color;
  text-transform: uppercase;
}

.price-list__items {
  padding: 0;
  list-style-type: none;
}

.price-list__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-list__heading {
  margin: 0;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium-small;
  font-weight: $font-weight-bold;
  color: $white-color;
  order: 1;
}

.price-list__description {
  width: 50%;
  margin: 0;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium-small;
  color: $white-color;
  order: 3;
}

.price-list__price {
  width: 50%;
  margin: 0;
  text-align: right;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium-small;
  color: $white-color;
  order: 2;
}

.price-list__clock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 90px;
  margin: 0 auto;
  border: 1px solid $grey-color-hsl727272;
}

.price-list__img {
  fill: $white-color;
}

.price-list__time span {
  margin: 0;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium;
  color: $white-color;

  &:first-child {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .price-list {
    &::after {
      content: "";
      display: none;
    }
  }

  .price-list__title {
    font-size: $font-size-big;
    line-height: $line-height-any-big;
  }

  .price-list__items {
    display: table;
    border-collapse: collapse;
  }

  .price-list__item {
    display: table-row;
  }

  .price-list__numbering,
  .price-list__heading,
  .price-list__description,
  .price-list__price {
    display: table-cell;
    width: auto;
    padding: 0;
    text-align: left;
    line-height: $line-height-medium;
    border: 1px solid $grey-color-hsl747474;
  }

  .price-list__time span {
    text-transform: uppercase;
    font-size: $font-size-medium;
    line-height: $line-height-medium-big;

    &:first-child {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .price-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 960px;

    &::after {
      content: "";
      display: none;
    }
  }

  .price-list__title {
    width: 100%;
    text-align: left;
  }

  .price-list__items {
    width: 630px;
    min-height: 280px;
    margin: 0;
  }

  .price-list__clock {
    flex-direction: column;
    width: 270px;
    height: 280px;
    margin: 0;

    svg {
      width: 145px;
      height: 145px;
    }
  }

  .price-list__time {
    width: 170px;
    text-align: center;

    span {
      text-transform: none;
      font-size: $font-size-medium-small;
      line-height: $line-height-medium;
    }
  }
}
