.produced {
  padding-bottom: 30px;
}

.produced__title {
  margin: 28px 0 14px;
  text-align: center;
  font-size: $font-size-small;
  line-height: $line-height-medium;
  color: $white-color;
}

.produced__organization {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 87%;
  padding: 11px 10px;
  word-wrap: break-word;
  border: 1px solid $grey-color-hsl626262;
  font-size: $font-size-small;
  line-height: $line-height-medium-small;
  font-weight: $font-weight-bold;
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    border-color: $grey-color-hsl818181;
    transition: 0.2s;
  }

  &:active {
    color: $grey-color-hsl103103103;
    border-color: $grey-color-hsl373737;
    background-color: $grey-color-hsl373737;
    transition: 0.2s;
  }
}

@media (min-width: $tablet-width) {
  .produced {
    width: 160px;
    padding-bottom: 30px;
  }

  .produced__title {
    margin-top: 48px;
  }

  .produced__organization {
    width: 160px;
  }
}
