.slider-description {
  background-color: $grey-color-hsl363636;
}

.slider-description__title {
  margin: 0;
  text-align: center;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  text-transform: uppercase;
  color: $white-color;
}

.slider-description__info {
  text-align: center;
  padding: 0 29px;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium-small;
  color: $white-color;
}

.slider-description__slide {
  display: none;
  padding-top: 150px;

  &:nth-child(1) {
    display: block;
  }
}

.slider-description__buttons {
  padding-bottom: 10px;
}
