.slider-description {
  position: relative;
  background-color: $grey-color-hsl363636;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-top: 30px solid $grey-color-hsl363636;
    border-left: 48vw solid transparent;
    border-right: 47vw solid transparent;
    transform: translateX(-50%);
  }
}

.slider-description__title {
  margin: 0;
  padding-top: 150px;
  text-align: center;
  font-size: $font-size-medium;
  line-height: $line-height-big;
  text-transform: uppercase;
  color: $white-color;
}

.slider-description__info {
  text-align: center;
  padding: 0 29px;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium-big;
  color: $white-color;
}

.slider-description__slide {
  display: none;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center 30px;

  &:nth-child(1) {
    display: block;
    background-image: url("../../img/scissors.svg");
  }

  &:nth-child(2) {
    background-image: url("../../img/chair.svg");
  }

  &:nth-child(3) {
    background-image: url("../../img/thing.svg");
  }
}

.slider-description__buttons {
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .slider-description {
    background-color: $grey-color-hsl535353;

    &::after {
      content: "";
      border-top-color: $grey-color-hsl535353;
    }
  }

  .slider-description__slide {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-left: 125px;
    background-position: left bottom;
  }

  .slider-description__title {
    padding-top: 50px;
    text-align: left;
  }

  .slider-description__info {
    padding-left: 0;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .slider-description__items {
    display: flex;
    flex-direction: row;
    width: 960px;
    margin: 0 auto;
  }

  .slider-description__slide {
    padding: 150px 38px 0;
    background-position: center 50px;
  }

  .slider-description__item {
    width: 33.33%;
  }

  .slider-description__title {
    text-align: center;
  }

  .slider-description__info {
    padding: 0;
    text-align: center;
  }

  .slider-description__buttons {
    display: none;
  }
}
