.slider-description {
  position: relative;
  background-color: $grey-color-hsl363636;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-top: 30px solid $grey-color-hsl363636;
    border-left: 48vw solid transparent;
    border-right: 47vw solid transparent;
    transform: translateX(-50%);
  }
}

.slider-description__title {
  margin: 0;
  padding-top: 165px;
  text-align: center;
  font-size: $font-size-medium;
  line-height: $line-height-medium-big;
  text-transform: uppercase;
  color: $white-color;
}

.slider-description__info {
  margin: 0;
  text-align: center;
  padding: 12px 42px 0;
  font-size: $font-size-medium-small;
  line-height: $line-height-medium;
  color: $white-color;
}

.slider-description__slide {
  position: relative;
  display: none;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center 37px;

  &::before {
    content: "";
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
  }

  &:nth-child(1) {
    display: block;

    &::before {
      content: "";
      background-image: url("../img/scissors.svg");
    }
  }

  &:nth-child(2) {
    &::before {
      content: "";
      background-image: url("../img/chair.svg");
    }
  }

  &:nth-child(3) {
    &::before {
      content: "";
      background-image: url("../img/thing.svg");
    }
  }
}

.slider-description__buttons {
  margin-top: 30px;
  padding-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .slider-description {
    background-color: $grey-color-hsl535353;

    &::after {
      content: "";
      bottom: -38px;
      border-top: 38px solid $grey-color-hsl535353;
      border-left: 49vw solid transparent;
      border-right: 48vw solid transparent;
    }
  }

  .slider-description__items {
    padding-bottom: 10px;
  }

  .slider-description__slide {
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-left: 147px;
    padding-bottom: 40px;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      display: block;
      width: 93%;
      height: 1px;
      background-color: $grey-color-hsl747474;
    }

    &::before {
      content: "";
      left: 66px;
    }
  }

  .slider-description__slide:last-child {
    &::after {
      content: "";
      display: none;
    }
  }

  .slider-description__title {
    padding-top: 40px;
    text-align: left;
  }

  .slider-description__info {
    padding-left: 0;
    padding-right: 15px;
    text-align: left;
  }

  .slider-description__buttons {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .slider-description {
    padding-bottom: 34px;

    &::after {
      content: "";
      bottom: -60px;
      border-top: 60px solid $grey-color-hsl535353;
      border-left: 49vw solid transparent;
      border-right: 49vw solid transparent;
    }
  }

  .slider-description__items {
    display: flex;
    flex-direction: row;
    width: 960px;
    margin: 0 auto;
  }

  .slider-description__slide {
    padding: 163px 38px 0;

    &::after {
      content: "";
      right: 0;
      left: auto;
      width: 1px;
      height: 78%;
    }

    &::before {
      content: "";
      top: 70px;
      left: 50%;
    }
  }

  .slider-description__item {
    width: 33.33%;
  }

  .slider-description__title {
    padding-bottom: 15px;
    text-align: center;
  }

  .slider-description__info {
    padding: 0;
    text-align: center;
  }

  .slider-description__buttons {
    display: none;
  }
}
