.title {
  margin: 0;
  font-size: $font-size-medium;
  line-height: $line-height-medium-big;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: $font-size-big;
    line-height: $line-height-any-big;
  }
}
