.user-name {
  margin: 0;
}

.user-name__input {
  display: block;
  width: 100%;
  padding: 12px 10px 12px 18px;
  margin: 0 auto 6px;
  border: 1px solid $grey-color-hsl229221213;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: $font-size-small;
  line-height: normal;
  color: $black-color;

  &::placeholder {
    font-size: $font-size-small;
    line-height: normal;
    color: $black-color;
  }
}

.user-name__input:hover {
  border-color: $brown-color-hs1213201189;
}

.user-name__input:focus {
  border-color: $grey-color-hsl153153153;
}

@media (min-width: $tablet-width) {
  .user-name {
    width: 33.33%;
  }

  .user-name__input {
    padding: 19px 10px 19px 24px;
    font-size: $font-size-medium-small-2;
    line-height: $line-height-medium-big;

    &::placeholder {
      font-size: $font-size-medium-small-2;
      line-height: $line-height-medium-big;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-name {
    width: 295px;
  }
}
